<!DOCTYPE html>
<meta charset="utf-8">

<style>

.states {
  stroke: #fff;
  fill: none;
}

#popoverText { 
  position: absolute;     
  text-align: center;         
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;
  opacity: 0;     
}

</style>

<body>
  <svg width="960" height="720"></svg>
  <div id='popoverText'> </div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script>

const svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

const colorScale = d3.scaleThreshold() 
    .domain([1,10,100,1500,2000,15782])
    .range(["#fff","#ffeda0","#fed976","#feb24c","#fd8d3c","#fc4e2a"]);

const radiusScale = d3.scalePow() 
    .exponent([.5])
    .domain([1, 5000])
    .range([1, 50]);


ready();

async function ready() {

  const guns = await d3.csv("guns-history.csv");
  const us = await d3.json("us.json");

  console.log(topojson.feature(us, us.objects.counties).features);

  gunsLookup = {};

  guns.forEach(d => {
    d.count3 = +d.count3;
    gunsLookup[d.FIPS] = d.count3;
  })

  locationLookup = {};

  guns.forEach(d => {
    locationLookup[d.FIPS] = d.county;
  })

  const counties = topojson.feature(us, us.objects.counties),
        states = topojson.feature(us, us.objects.states);

  const path = d3.geoPath()
      .projection(d3.geoAlbersUsa()
      .fitSize([width, height], counties));

  svg.selectAll(".counties")
      .data(counties.features)
    .enter().append("path")
      .attr("class", "counties")
      .attr("d", path)
      .style("fill", d => gunsLookup[d.id] > 1 ? "#c6c5c7" : "#dbdadc")
      .on("mouseenter", function(d) {

        d3.select(this)
          .style("stroke-width", 1.5)

        d3.select("#popoverText")
          .transition()
          .style("opacity", 1)
          .style("left", (d3.event.pageX) + "px")
          .style("top", (d3.event.pageY) + "px")
          .text(locationLookup[d.id])
      })
      .on("mouseleave", function(d) { 

        d3.select(this)
          .style("stroke-width", .25)

        d3.select("#popoverText")
          .transition()
          .style("opacity", 0);

      });

  svg.selectAll(".states")
      .data(states.features)
      .enter().append("path")
      .attr("class", "states")
      .attr("d", path)

  svg.selectAll(".bubbles")
      .data(counties.features)
    .enter().append("g")
      .attr("class","bubbles")
      .attr("transform", d => `translate(${path.centroid(d)})`)
      .append("circle")
      .attr("r", d => gunsLookup[d.id] > 0 ? radiusScale(gunsLookup[d.id]) : 0)
      .style("fill", '#9a101d')
      .style("fill-opacity", .5)
      .style("stroke", "#fff")
      .style("stroke-width", .5)
      .style("pointer-events","none")

}

</script>
</body>