<!DOCTYPE html>
<meta charset="utf-8">

<script src="https://d3js.org/d3.v5.min.js"></script>
<style type="text/css">
 
.axis line {
  stroke-opacity: .5;
  stroke: #fff;
}

.axis text {
  font: 10px sans-serif;
}

.x text {
  text-anchor: end;
}

.background {
  fill: #bfbfbf;
  fill-opacity: .75;
}

.domain {
  fill: none;
  stroke: #000;
}

.dots {
  fill: steelblue;
  stroke: #fff;
}

.incomeLine {
  fill: none;
  stroke: steelblue;
  stroke-width: 3;
}

#countryButtons {
  max-width: 800px;
}

.button {
  background-color: steelblue;
  color: #fff;
}

</style>

<body>
<div id='countryButtons'></div>
</body>


<script>

const margin = {top: 20, right: 60, bottom: 60, left: 20};
let width = window.innerWidth - margin.left - margin.right,
    height = window.innerHeight - margin.top - margin.bottom;

const xScale = d3.scaleTime()
    .range([0, width])

const yScale = d3.scaleLinear()
    .range([height, 0])

const radiusScale = d3.scaleLinear()
    .domain([100, 1200])
    .range([3, 20]);

const parseDate = d3.timeParse("%Y"),
    formatDate = d3.timeFormat("%Y");

const xAxis = d3.axisBottom(xScale)
    .tickSize(-height)
    .tickFormat(formatDate);

const yAxis = d3.axisRight(yScale)
    .tickSize(-width)
    .tickFormat(d3.format("$,"))
 
const incomeLine = d3.line()
    .curve(d3.curveCardinal)
    .x(function(d) { return xScale(d.year); })
    .y(function(d) { return yScale(d.val); })

const svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg.append("rect")
    .attr("class", "background")
    .attr("height", height)
    .attr("width", width)

d3.csv("incomes.csv").then(data => {

  console.log(data);

  data.forEach(function(d) {
      d.val = +d.val;
      d.rawYear = d.year
      d.year = parseDate(d.year);
  })

  const medianData = data.filter(function(d) { return d.cutoff == 'cop50' })

  const nestedMedianData = d3.nest()
      .key(function(d) { return d.country; })
      .entries(medianData)

  console.log(nestedMedianData);
  const usData = nestedMedianData.filter(function(d) { return d.key == 'United States'; })

  xScale.domain(d3.extent(data, function(d) { return d.year; }))
  yScale.domain(d3.extent(medianData, function(d) { return d.val; })).nice()

  svg.append("g")
      .attr("class", "y axis")
      .attr("transform","translate(" + width + ",0)")
      .call(yAxis)

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform","translate(0," + height + ")")
      .call(xAxis)

  svg.selectAll(".dots")
      .data(usData[0].values, (d) => d.year)
    .enter().append("circle")
      .attr("class","dots")
      .attr("cx", function(d) { return xScale(d.year); })
      .attr("cy", function(d) { return yScale(d.val); })
      .attr("r", radiusScale(width))

  svg.append("path")
      .datum(usData[0].values)
      .attr("class", "incomeLine")
      .attr("d", incomeLine)


  const dropdown = d3.select("#countryButtons")
    .append("select")
    .on("change", updateChart)

  dropdown.selectAll(".option")
    .data(nestedMedianData)
  .enter().append("option")
    .attr("class", "option")
    .text(d => d.key);

  // d3.select("#countryButtons")
  //   .selectAll(".button")
  //   .data(nestedMedianData)
  // .enter().append("button")
  //   .attr("class", "button")
  //   .text(d => d.key)
  //   .on("click", d => updateChart(d))

    function updateChart() {

      console.log(this.value);

      const newData = nestedMedianData.filter(d => d.key == this.value)[0]
      /// updates the chart

      // axes - X and Y
      xScale.domain(d3.extent(newData.values, function(d) { return d.year; }))
      yScale.domain(d3.extent(newData.values, function(d) { return d.val; })).nice()

      svg.select(".y")
          .transition()
          .duration(2000)
          .call(yAxis)

      svg.select(".x")
          .transition()
          .duration(2000)
          .call(xAxis)

      // update the line 
      svg.select(".incomeLine")
          .datum(newData.values)
          .transition()
          .duration(2000)
          .attr("d", incomeLine)

      // dots 

     const dotsSelection = svg.selectAll(".dots")
          .data(newData.values, d => d.year);

    // EXIT - REMOVE
    dotsSelection.exit()
      .transition()
      .duration(2000)
      .style("opacity", 0)
      .remove();

    // ENTER - APPEND
    dotsSelection.enter().append("circle")
        .attr("class","dots")
      .merge(dotsSelection)
        .attr("cx", d => xScale(d.year))
        .transition()
        .duration(2000)
        .attr("cy", d => yScale(d.val))
        .attr("r", radiusScale(width))

    // UPDATE 
    // dotsSelection
    //   .transition()
    //   .duration(2000)
    //   .style("fill", "orange")
    //   .attr("cx", d => xScale(d.year))
    //   .attr("cy", d => yScale(d.val))

    }

    d3.select(window).on("resize", function() {
      width = window.innerWidth - margin.left - margin.right;
      height = window.innerHeight - margin.top - margin.bottom;

      if(width < 500) {
        height = (height / 2)
      }

      myResize(width, height);
    })

    function myResize(width, height) { 

      d3.select("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)

      svg.select(".background")
          .attr("height", height)
          .attr("width", width)

      xScale.range([0, width]);
      yScale.range([height, 0]);

      svg.select(".y")
          .attr("transform","translate(" + width + ",0)")
          .call(yAxis.tickSize(-width))

      svg.select(".x")
          .attr("transform","translate(0," + height + ")")
          .call(xAxis.tickSize(-height))

    if(width < 500) {
      svg.selectAll(".dots").style("opacity", 0)
    } else {
      svg.selectAll(".dots")
          .style("opacity", 1)
          .attr("cx", function(d) { return xScale(d.year); })
          .attr("cy", function(d) { return yScale(d.val); })
          .attr("r", radiusScale(width))
    }
    svg.select(".incomeLine")
        .attr("d", incomeLine)
    }

 });


</script>










