<!DOCTYPE html>
<meta charset="utf-8">

<script src="https://d3js.org/d3.v5.min.js"></script>

<style type="text/css">

</style>

<body>
</body>

<script>

var margin = {top: 20, right: 40, bottom: 30, left: 40};

var width = 720 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

var xScale = d3.scalePoint()
    .padding([1])
    .rangeRound([0, width]);

var yScale = d3.scaleLinear()
    .range([height, 0]);

var xAxis = d3.axisBottom(xScale)
    .tickPadding(8);

var yAxis = d3.axisLeft(yScale)
    .tickPadding(8);

var colorScale = d3.scaleOrdinal(d3.schemeCategory10)

var svg = d3.select("body").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.tsv("barley.tsv").then(ready)

  function ready(data) {
    
  var sampleData = data.filter(function(d) { return d.site == 'University Farm'; })
  console.log('data ', data, 'sampledata ', sampleData)

  xScale.domain(d3.set(sampleData.map(function(d) { return d.variety; })).values());
  yScale.domain(d3.extent(sampleData, function(d) { return d.yield }));

  svg.append("g")
      .attr("class","x axis")
      .attr("transform","translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class","y axis")
      .call(yAxis);

  var circles = svg.selectAll("circle")
      .data(sampleData)
      .enter().append("circle")
      .attr("r", 5)
      .attr("cx", function(d) { return xScale(d.variety); })
      .attr("cy", function(d) { return yScale(d.yield); })
      .style("fill", function(d) { return colorScale(d.year); })
 }


</script>
