<!DOCTYPE html>
<meta charset="utf-8">


<script src="https://d3js.org/d3.v5.min.js"></script>

<style type="text/css">

svg {
    border: 1px solid #000;
}

.variety-line {
  stroke: steelblue;
  stroke-width: 2;
  stroke-dasharray: 4, 4;
}


</style>

<body>
</body>

<script>

  const width = 200,
        height = 300,
        margin = {top: 30, bottom: 30, left: 30, right: 60};

  const xScale = d3.scaleOrdinal()
      .domain(['1931', '1932'])
      .range([0, width]);

  const xAxis = d3.axisBottom(xScale);

  const yScale = d3.scaleLinear()
      .domain([0, 67])
      .range([height, 0]);

  const yAxis = d3.axisLeft(yScale);
  const yAxisRight = d3.axisRight(yScale);

  d3.tsv("barley.tsv").then(dataset => {

  const nestedData = d3.nest()
      .key(d => d.site)
      .sortKeys(d3.ascending)
      .key(d => d.variety)
      .sortValues((a,b) => { return b.year - a.year })
      .entries(dataset);

    const svg = d3.select("body").selectAll("svg")
        .data(nestedData)
      .enter().append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", `translate(${margin.left},${margin.top})`);

    svg.append("text")
       .attr("class", "title")
       .text(d => d.key)

    svg.append("g")
       .attr("class", "x axis")
       .attr("transform", `translate(0, ${height})`)
       .call(xAxis)

    svg.append("g")
       .attr("class", "y axis")
       .call(yAxis)

    svg.selectAll(".variety-line")
       .data(d => d.values)
      .enter().append("line")
        .attr("class", "variety-line")
        .attr("x1", d => { debugger; return xScale(d.values[0].year) })
        .attr("y1", d => yScale(+d.values[0].yield))
        .attr("x2", d => xScale(d.values[1].year))
        .attr("y2", d => yScale(+d.values[1].yield))

  });


</script>











