<!DOCTYPE html>
<meta charset="utf-8">

<script src="https://d3js.org/d3.v4.min.js"></script>

<style type="text/css">

.title {
  font: 14px sans-serif;
}

body {
  font: 12px sans-serif;
}


</style>

<body>
</body>

<script>

var margin = {top: 20, right: 50, bottom: 70, left: 40};

var width = 300 - margin.left - margin.right,
    height = 200 - margin.top - margin.bottom;

var yScale = d3.scaleLinear()
    .range([height, 0]);

var xScale = d3.scaleBand()
    .padding([.1])
    .rangeRound([0, width])



var colorScale = d3.scaleOrdinal(d3.schemeCategory10);

d3.tsv("barley.tsv", ready)

function ready(error, data) {
  if (error) return console.warn(error);

  data.forEach(function(d) {
    d.yield = +d.yield
  })

  console.log(data);

  xScale.domain(d3.set(data.map(function(d) { return d.variety })).values());
  yScale.domain([0, d3.max(data, function(d) { return +d.yield; })]).nice();
 
  var yearScale = d3.scaleBand()
      .rangeRound([0, xScale.bandwidth()])
      .domain(d3.set(data.map(function(d) { return d.year })).values());

  var nestedData = d3.nest()
      .key(function(d) { return d.site })
      .entries(data);

  var svg = d3.select("body")
      .selectAll("svg")
      .data(nestedData)
    .enter().append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  svg.append("text")
      .attr("class","title")
      .attr("dy", -5)
      .text(function(d) { return d.key });

  svg.append("g")
      .attr("class","x axis")
      .attr("transform","translate(0," + height + ")")
      .call(d3.axisBottom(xScale))
      .selectAll("text")
      .attr("transform","translate(" + yearScale.bandwidth() + " ,0) rotate(45)")
      .style("text-anchor", "start")

  svg.append("g")
      .attr("class","y axis")
      .call(d3.axisLeft(yScale).ticks(5));

  var bars = svg.selectAll(".bars")
      .data(function(d) { return d.values; })
    .enter().append("rect")
      .attr("class", "bars")
      .attr("width", yearScale.bandwidth())
      .attr("height", function(d) { return height - yScale(d.yield); })
      .attr("x", function(d) { return xScale(d.variety) + yearScale(d.year); })
      .attr("y", function(d) { return yScale(d.yield); })
      .style("fill", function(d) { return colorScale(d.year); })

  var legend = svg.selectAll(".legend")
        .data(colorScale.domain())
      .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d,i) { return "translate(" + width + "," + i*20 + ")" });

  legend.append("rect")
      .attr("width", 16)
      .attr("height", 16)
      .style("fill", function(d) { return colorScale(d); })

  legend.append("text")
      .attr("x", 18)
      .attr("y", 12)
      .text(function(d) { return d; })

}


</script>
