<!DOCTYPE html>
<meta charset="utf-8">

<style type="text/css">

  body {
    font-family: arial, sans;
    font-size: 14px;
  }

  .divisions {
    fill: none;
    stroke: #d0d0d0;
    stroke-width: .5;
  }

</style>

<body>
<p id='loading'>It's Loading</p>
<div id="chart-container"></div>
</body>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>

<script type="text/javascript">
  
const margin = {top: 5, right: 5, bottom: 5, left: 5};
const width = 300 - margin.left - margin.right,
    height = 200 - margin.top - margin.bottom;

const colors = ['#c51b7d','#e9a3c9','#fde0ef','#f7f7f7','#e6f5d0','#a1d76a','#4d9221'];

const threshold = d3.scaleThreshold()
        .domain([-4, -3, -2, 2, 3, 4])
        .range(colors);

ready();

async function ready() {

  const data = await d3.csv("data/tidy-drought-data.csv");
  const topojsonData = await d3.json("data/GIS.OFFICIAL_CLIM_DIVISIONS.json");

  d3.select("#loading").text("It's not loading!")

  const droughtIndexLookup = {};
  data.forEach((d) => {
    d.val = +d.val;
    droughtIndexLookup[d.id] = d.val;
  });

  const nestedDroughtData = d3.nest()
      .key(d => d.year)
      .key(d => d.id)
      .entries(data.filter(d => +d.year >= 1999))

  const nestedDroughtMap = d3.nest()
      .key(d => d.year)
      .key(d => d.id)
      .map(data)

  const climateDivisions = topojson.feature(topojsonData, topojsonData.objects.GIS)

  const svg = d3.select("#chart-container")
      .selectAll(".maps")
      .data(nestedDroughtData)
    .enter().append("svg")
      .attr("class", "map")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  const path = d3.geoPath()
      .projection(d3.geoAlbersUsa()
      .fitSize([width, height], climateDivisions));

  svg.selectAll(".divisions")
      .data(climateDivisions.features)
      .enter().append("path")
      .attr("class","divisions")
      .attr("d", path)
      .style("fill", function(d) {
        const droughtIndex = nestedDroughtMap["$" + this.parentNode.__data__.key]["$" + d.properties.CLIMDIV][0].val
        return threshold(droughtIndex);
      })

  svg.append("text")
      .attr("dx", 10)
      .attr("y", height - 10)
      .text(d => d.key)

}

</script>

